<div class="menu">
    <ul>
        <li class="menu_element"><a href="/uplaud" >UPLAUD</a></li>
        <li class="menu_element"><a href="/filemanager" >FILEMANEGER</a></li>
        <li class="menu_element"><a href="/info" >INFO</a></li>
    </ul>
</div>
<div class="side_menu">
    <p>multiupload</p>
</div>
<div class="content">
        <form enctype="multipart/form-data" method="POST" action="/uplaud">
            <input type="file" multiple required name="filesupload">
            <input type="submit" value="uplaud">
        </form>
</div>